# Python
__pycache__/
*.pyc
venv/
.env

# Terraform
blog-infra/service-account.json
blog-infra/.terraform/
blog-infra/terraform.tfstate
blog-infra/terraform.tfstate.*
.terraform/
# Общие
.DS_Store
k8s/cloudsql-proxy-sacredentials.json
credentials.json
.env
*.key
*.crtcredentials.json
cloudsql-key.json
