<!doctype html>
<html lang="ru">
<head>
    <title>{{ post.title }}</title>
</head>
<body>
    <a href="/">Назад</a>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <hr>
    <h3>Комментарии:</h3>
    {% for comment in comments %}
        <div>
            <p>{{ comment.text }}</p>
        </div>
    {% endfor %}
    <form method="POST" action="/post/{{ post.id }}/add_comment">
        <textarea name="text" placeholder="Комментарий" required></textarea>
        <br>
        <button type="submit">Добавить комментарий</button>
    </form>
</body>
</html>
